/.idea/
.docker-sync/
/test/
/db/
/app/core/
/app/README.txt
/app/sites/
/app/example.gitignore
/app/vendor/
/app/composer.lock
/app/themes/
/app/index.php
/app/composer.json
/app/update.php
/app/robots.txt
/app/web.config
/app/INSTALL.txt
/app/LICENSE.txt
/app/profiles/
/app/autoload.php
